
/*MY CODE */

.backdrop {
    background-color: rgb(193, 103, 103);
  }

.titel {
    text-align:center; 
    font-size: 40px;
    text-decoration: underline;
    text-transform: uppercase;
}

img {
  display: block;
  justify-content: center;
}
